<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h1 style="font-family: Arial, Helvetica, sans-serif;margin: 2rem auto;">CART</h1>
    <div style="text-align: center;padding: 2rem;" class="cart-container">
      
      <% if(products[0]){%>
        <div class="main-cart-body">
       <% for(product of products){ %>
        
           <div style="width: 46rem;" class="card text-center ">
  <div style="margin: 0;padding: 0;" class="card-body">
    <div class="product-img">
      <img src="<%=product.image.url%>" class="card-img-top" alt="listing_image">
      </div>
    <div class="product-info">
      <h5 class="card-title"><%=product.title%></h5>
    <div class="card-text"> &#8377; <%=product.price.toLocaleString("en-IN")%> <br> 
      <p class="starability-result" style="margin: 1rem auto;" data-rating="<%=sum%>" ></p>  
      <form style="display: inline-block;" action="/store/cart/<%=product._id%>" method="post">
        <button id="del" style="margin: 0 auto;" type="submit"  class="btn btn-primary btn-sm me-1 mb-2">
                  <i class="fas fa-trash"></i>
                </button></form>
              
      </div>
   
    </div>
  </div>
 
</div>
      <% } %>
    </div>
      <div style="border: 2px solid black;border-radius: 3rem; padding: 3rem;" class="section">
        <h3>SUMMARY</h3>
        <hr>
        <br>
          <h4>Total Price : <%=price%></h4> 
          <br> 
          <a style="margin-bottom: 0.5rem;" href="/store/checkout" class="btn btn-primary">Go to checkout</a>
          </div>   
        <% }else{  %> 
           <h4 style="margin: 13rem auto;">CART IS EMPTY!</h4>
           <a class="btn btn-outline-success" style="margin:3rem auto;" href="/store">Shop Now</a>
        <% } %>

       
    </div>
</body>